.toasts,
.toasts *,
.toasts *::before,
.toasts *::after {
  box-sizing: border-box;
}

.toasts {
  /*default theme*/
  --toast-success-bg: #f0fdf4;
  --toast-success-text-primary: #166534;
  --toast-success-text-secondary: #15803d;

  --toast-error-bg: #fef2f2;
  --toast-error-text-primary: #991b1b;
  --toast-error-text-secondary: #b91c1c;

  --toast-info-bg: #eff6ff;
  --toast-info-text-primary: #1e40af;
  --toast-info-text-secondary: #1d4ed8;

  --toast-warning-bg: #fffbeb;
  --toast-warning-text-primary: #92400e;
  --toast-warning-text-secondary: #b45309;

  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toasts--top-right {
  top: 10px;
  right: 10px;
  --slide-x: 100%;
}
.toasts--top-left {
  top: 10px;
  left: 10px;
  --slide-x: -100%;
}
.toasts--bottom-right {
  bottom: 10px;
  right: 10px;
  --slide-x: 100%;
}
.toasts--bottom-left {
  bottom: 10px;
  left: 10px;
  --slide-x: -100%;
}

.toasts[data-theme="dark"] {
  --toast-success-bg: #052e16;
  --toast-success-text-primary: #86efac;
  --toast-success-text-secondary: #4ade80;

  --toast-error-bg: #450a0a;
  --toast-error-text-primary: #fca5a5;
  --toast-error-text-secondary: #f87171;

  --toast-info-bg: #172554;
  --toast-info-text-primary: #93c5fd;
  --toast-info-text-secondary: #60a5fa;

  --toast-warning-bg: #451a03;
  --toast-warning-text-primary: #fcd34d;
  --toast-warning-text-secondary: #fbbf24;
}

@media (max-width: 600px) {
  .toasts {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .toasts--top-right {
    top: 10px;
    right: 0px;
    --slide-x: 100%;
  }
  .toasts--top-left {
    top: 10px;
    left: 0px;
    --slide-x: -100%;
  }
  .toasts--bottom-right {
    bottom: 10px;
    right: 0px;
    --slide-x: 100%;
  }
  .toasts--bottom-left {
    bottom: 10px;
    left: 0px;
    --slide-x: -100%;
  }
}
