.toastora-toast {
  /*default*/
  --toast-bg: var(--toast-default-bg);
  --toast-text-primary: var(--toast-default-text-primary);
  --toast-text-secondary: var(--toast-default-text-secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  position: relative;
  padding: 12px 13px;
  border: 2px solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--toast-bg);
  border-color: var(--toast-text-primary);
}

.toastora-toast--success {
  --toast-bg: var(--toast-success-bg);
  --toast-text-primary: var(--toast-success-text-primary);
  --toast-text-secondary: var(--toast-success-text-secondary);
}

.toastora-toast--error {
  --toast-bg: var(--toast-error-bg);
  --toast-text-primary: var(--toast-error-text-primary);
  --toast-text-secondary: var(--toast-error-text-secondary);
}

.toastora-toast--info {
  --toast-bg: var(--toast-info-bg);
  --toast-text-primary: var(--toast-info-text-primary);
  --toast-text-secondary: var(--toast-info-text-secondary);
}

.toastora-toast--warning {
  --toast-bg: var(--toast-warning-bg);
  --toast-text-primary: var(--toast-warning-text-primary);
  --toast-text-secondary: var(--toast-warning-text-secondary);
}

.toastora-toast__icon-wrapper {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--toast-text-primary);
}

.toastora-toast__content-wrapper {
  flex: 1;
  margin-left: 12px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 2px; */
}

.toastora-toast__title {
  margin: 0%;
  font-size: 16px;
  font-weight: 600;
  text-wrap: pretty;
  white-space: pre-wrap;
  color: var(--toast-text-primary);
  line-height: 20px;
  text-align: start;
  overflow-wrap: anywhere;
}

.toastora-toast__desc {
  margin: 0%;
  font-size: 12px;
  font-weight: 400;
  color: var(--toast-text-secondary);
  text-wrap: pretty;
  white-space: pre-wrap;
  line-height: 16px;
  text-align: start;
  overflow-wrap: anywhere;
}

.toastora-toast__dismiss-btn-wrapper {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--toast-text-primary);
}

.toastora-toast__dismiss-btn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toastora-toast__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  animation-name: toastora-progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: var(--toast-text-primary);
}

@keyframes toastora-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@media (max-width: 600px) {
  .toastora-toast {
    width: 100%;
  }
}
