.transition-wrapper {
  transition: transform 300ms
    linear(
      0,
      0.013 0.6%,
      0.05 1.2%,
      0.2 2.5%,
      0.971 47.2%,
      1.012 59.1%,
      0.995 70.8%,
      1
    );
  @starting-style {
    transform: translateX(var(--slide-x));
  }
}

.slide-out-animation {
  transform: translateX(calc(var(--slide-x) * 1.1));
}
